.container {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 150px;
}
.container h2 {
  font-size: 26px;
  color: var(--Very-dark-blue);
  line-height: 1.1;
}
.container img {
  width: 100%;
  margin-bottom: 40px;
}
.container .firstTitle {
  margin-bottom: 40px;
}
.container .textContent {
  padding: 0 40px;
  margin-bottom: 40px;
}
.container .textContent h2 {
  margin-bottom: 20px;
}
.container .textContent p {
  color: var(--Very-dark-grayish-blue);
  line-height: 1.7;
}

@media (min-width: 450px) {
  .container .textContent {
    padding: 0 50px;
  }
}
@media (min-width: 500px) {
  .container .textContent {
    padding: 0 55px;
  }
}
@media (min-width: 520px){
    .container img {
      width: 520px;
    }
}
@media (min-width: 600px) {
  .container .textContent {
    padding: 0 65px;
  }
}
@media (min-width: 650px) {
  .container .textContent {
    padding: 0 70px;
  }
}
@media (min-width: 700px) {
  .container .textContent {
    padding: 0 75px;
  }
}

@media (min-width: 768px) {
  .container .textContent {
    padding: 0 100px;
  }
}
