.container {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 150px;
}
.container h2 {
  font-size: 26px;
  color: var(--Very-dark-blue);
  line-height: 1.1;
}
.container img {
  width: 100%;
  margin-bottom: 40px;
}
.container .firstTitle {
  margin-bottom: 40px;
}
.container .textContent {
  padding: 0 40px;
  margin-bottom: 40px;
}
.container .textContent h2 {
  margin-bottom: 20px;
}
.container .textContent p {
  color: var(--Very-dark-grayish-blue);
  line-height: 1.7;
}
