.container {
  padding: 80px 0;
  text-align: center;
  margin-bottom: 150px;
}
.container h2 {
  font-size: 26px;
  color: var(--Very-dark-blue);
  line-height: 1.1;
}
.container .mobileImg {
  width: 100%;
  margin-bottom: 40px;
}
.container .firstTitle {
  margin-bottom: 40px;
}
.container .textContent {
  padding: 0 40px;
  margin-bottom: 40px;
}
.container .textContent h2 {
  margin-bottom: 20px;
}
.container .textContent p {
  color: var(--Very-dark-grayish-blue);
  line-height: 1.7;
}

@media (min-width: 450px) {
  .container .textContent {
    padding: 0 50px;
  }
}
@media (min-width: 500px) {
  .container .textContent {
    padding: 0 55px;
  }
}
@media (min-width: 520px) {
  .container img {
    width: 520px;
  }
}
@media (min-width: 600px) {
  .container .textContent {
    padding: 0 65px;
  }
}
@media (min-width: 650px) {
  .container .textContent {
    padding: 0 70px;
  }
}
@media (min-width: 700px) {
  .container .textContent {
    padding: 0 75px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .container .textContent {
    padding: 0 100px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    padding: 185px 40px;
    background-image: url("../../images/illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: 155% 80%;
    margin: 0 0 55px 0;
  }
  .container .firstTitle {
    font-size: 34px;
    margin-bottom: 110px;
  }
  .container .mobileImg {
    display: none;
  }
  .container .textContent {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    width: 503px;
    margin-left: 30px;
  }
  .container .textContent h2 {
    font-size: 26px;
  }
  .container .firstTextContent {
    margin-bottom: 80px;
  }
}
@media (min-width: 1224px) {
  .container {
    padding: 185px 80px;
  }
}
@media (min-width: 1324px) {
  .container {
    padding: 185px 100px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 185px 128px;
  }
}
