.container {
  text-align: center;
  margin-bottom: 90px;
}
.container img {
  width: 100%;
  margin-bottom: 20px;
}
.container .textContent {
  padding: 0 40px;
  margin-bottom: 30px;
}
.container .textContent h2 {
  color: var(--Very-dark-blue);
  margin-bottom: 20px;
}
.container .textContent p {
  color: var(--Very-dark-grayish-blue);
  line-height: 1.7;
}

@media (min-width: 450px) {
  .container .textContent {
    padding: 0 50px;
  }
}
@media (min-width: 500px) {
  .container .textContent {
    padding: 0 55px;
  }
}
@media (min-width: 520px) {
  .container img {
    width: 520px;
  }
}
@media (min-width: 600px) {
  .container .textContent {
    padding: 0 65px;
  }
}
@media (min-width: 650px) {
  .container .textContent {
    padding: 0 70px;
  }
}
@media (min-width: 700px) {
  .container .textContent {
    padding: 0 75px;
  }
}
@media (min-width: 768px) {
  .container .textContent {
    padding: 0 100px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 170px 0 0 0;
    padding: 210px 0;
    background: url("../../../src/images/illustration-laptop-desktop.svg") top
      0px left -227px / 800px no-repeat;
  }
  .container img {
    display: none;
  }
  .container .textContent {
    text-align: left;
    padding: 0 30px 0 558px;
  }
  .container .textContent h2 {
    font-size: 26px;
  }
}
@media (min-width: 1124px) {
  .container {
    background-position: top 0px left -240px;
    background-size: 850px;
  }
  .container .textContent {
    padding: 0 54px 0 600px;
  }
}
@media (min-width: 1224px) {
  .container {
    background-position: top 0px left -254px;
    background-size: 900px;
  }
  .container .textContent {
    padding: 0 54px 0 670px;
  }
}
@media (min-width: 1440px) {
  .container {
    background-position: top 0px left -55%;
    background-size: 950px;
  }
  .container .textContent {
    padding: 0 215px 0 735px;
  }
}
