.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 100px;
}
.header .menuIcon {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header .menuIcon {
    display: none;
  }
  .header {
    gap: 60px;
  }
}
